
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/**********************************/
/********** General CSS ***********/
/**********************************/
body {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background: #ffffff;
}

a {
    color: #FF6F61;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #000000;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 15px 0;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px 0;
    padding: 0;
    color: #000000;
    font-weight: 600;
}

h4,
h5,
h6 {
    font-weight: 400;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #FB2E86;
    color: #ffffff;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    border-radius: 4px;
    z-index: 11;
}

.back-to-top:hover {
    background: #000000;
}

.back-to-top i {
    padding-top: 9px;
    color: #ffffff;
}


/**********************************/
/*********** Top Bar CSS **********/
/**********************************/
.top-bar {
    padding: 2px 0;
    background: #7E33E0;
    height: 44px;
}

.top-bar .tb-contact p {
    display: inline-block;
    margin: 0;
    padding-top: 11px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    color: #F1F1F1;
}

.top-bar .tb-contact p i {
    margin-right: 6px;
}

.top-bar .tb-contact p:first-child {
    margin-right: 15px;
}

.top-bar .tb-menu {
    font-size: 0;
    text-align: right;
    padding-top: 11px;
}

.top-bar .tb-menu a {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    color: #F1F1F1;
    margin: 0 8px;
}

.top-bar .tb-menu .dropdown-menu a{
    color: #7E33E0;
}

.top-bar .tb-menu a i {
    margin-left: 6px;
    transition: all 0.5s;
}

.top-bar .tb-menu a:hover {
    color: #FB2E86;
}

@media (max-width: 768px) {
    .top-bar .tb-contact,
    .top-bar .tb-menu {
        text-align: center;
    }
}


/**********************************/
/*********** Brand CSS ************/
/**********************************/
.brand {
    padding: 15px 0 15px 0;
    background: #ffffff;
}

.brand .b-logo {
    text-align: left;
    overflow: hidden;
}

.brand .b-logo a h1 {
    max-width: 100%;
    max-height: 60px;
    margin-top: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 34px;
    /* identical to box height */
    color: #0D0E43;
}

.brand .b-menu a{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    color: #0D0E43;
}

.brand .b-menu a:hover{
    color: #FB2E86;
}

.brand .b-search {
    width: 100%;
}

.brand .b-search input[type=text] {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #666666;
    border: 2px solid #E7E6EF;
    border-radius: 4px;
}

.brand .b-search input[type=text]:focus {
    border-color: #FF6F61;
}

.brand .b-search button {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 15px;
    border: none;
    background: none;
    /* color: #FB2E86; */
    color: white;
    background: #FB2E86;
    border-radius: 0 4px 4px 0;
}

.brand .b-search button:hover {
    background: #FB2E86;
    color: #ffffff;
}

@media (min-width: 768px) {
    .brand {
        max-height: 90px;
    }
}

@media (max-width: 767.98px) {
    .brand .b-logo,
    .brand .b-search {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .brand .b-search {
        margin-bottom: 0;
    }
}


/* Carousel */
.carousel-indicators > li {
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
    margin-right: 15px;
    border: solid 2px #dd2876;
    margin-bottom: 30px;
  }

  .carousel-indicators .active{
    background-color: #FB2E86;
  }

  .carousel-content {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    z-index: 20;
    color: white;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
  }

  .carousel-content h5{
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    /* identical to box height, or 175% */
    /* Accent */
    color: #FB2E86;
  }

  .carousel-content h3{
    font-size: 43px;
    line-height: 70px;
    letter-spacing: 0.015em;
    color: #000000;
  }

  .carousel-content p{
    font-size: 14px;
    line-height: 28px;
    /* or 175% */
    /* sub text color */
    color: #8A8FB9;
  }

  .carousel-content a{
    display: inline-block;
    margin-top: 25px;
    padding: 16px 40px;
    background: #FB2E86;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: Josefin Sans;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.02em;

    transition: all 0.5s;
}

.carousel-content a:hover {
    background-color: #af2e66;
}

/* Katalog  */
.card{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img{
    background-color: #F6F7FB;
}
.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.judul h3{
    font-family: Josefin Sans;
    font-size: 32px;
    line-height: 49px;
    color: #1A0B5B;
}

.card-title{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FB2E86;
    text-align: center;
}

.card-text{
    font-family: Josefin Sans;
    font-size: 14px;
    line-height: 16px;
    color: #151875;
    text-align: center;
}

.price{
    display: flex;
    flex-direction: row;
}

.price .card-priceNew{
    margin-right: 15px;
}
.card-price{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #151875;
}

.latest .card-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.latest .card-text{
    font-size: 15px;
}

.latest .card-price{
    text-decoration: line-through;
    color: #9DA0AE;
}

.card-priceNew{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #1A0B5B;
}

.card-body > li {
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 5px;
    margin-right: 15px;
    border-radius: 2px;
    margin-bottom: 10px;
  }

.card-body .color1{
    background-color: #05E6B7;
    margin-left: 60px;
}
.card-body .color2{
background-color: #F701A8;
}
.card-body .color3{
    background-color: #00009D;
}

/* Latest Furniture */
.latest .list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list p{
    padding-right: 20px;
    margin-bottom: 25px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #151875;
    transition: all 0.5s;
}

.list p:hover{
    color: #F701A8;
    cursor: pointer;
}



/**********************************/
/********** Footer CSS ************/
/**********************************/
.footer {
    position: relative;
    padding: 60px 0 0 0;
    background: #E7E4F8;
}

.footer .footer-widget {
    position: relative;
    width: 100%;
    margin-bottom: 60px;
}

.footer .footer-widget .title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    line-height: 45px;
    color: black;
    letter-spacing: 1px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 3px double #9DA0AE;
}

.footer .footer-widget p {
    color: #8A8FB9;
}

.footer .footer-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .footer-widget ul li {
    margin-bottom: 12px; 
}

.footer .footer-widget ul li:last-child {
    margin-bottom: 0; 
}

.footer .footer-widget ul li a {
    color: #8A8FB9;
    white-space: nowrap;
    display: block;
    line-height: 23px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.footer .footer-widget ul li a::before {
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-right: 5px;
}

.footer .footer-widget ul li a:hover {
    padding-left: 10px;
    color: #FB2E86;
}

.footer .contact-info p {
    margin-bottom: 10px;
    color: #8A8FB9;
    font-size: 16px;
}

.footer .contact-info p i {
    color: #9DA0AE;
    margin-right: 5px;
}

.footer .social {
    position: relative;
    width: 100%;
}

.footer .social a {
    display: inline-block;
    margin: 10px 5px 0 0;
    width: 35px;
    height: 35px;
    padding: 5px 0;
    text-align: center;
    font-size: 18px;
    background: #FB2E86;
    border-radius: 4px;
}

.footer .social a i {
    color: white;
}

.footer .social a:hover {
    background: #9DA0AE;
}

.footer .social a:hover i {
    color: #ffffff;
}

.footer .newsletter {
    position: relative;
    width: 100%;
}

.footer .newsletter form {
    position: relative;
    width: 100%;
}

.footer .newsletter input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.footer .newsletter .btn {
    position: absolute;
    width: 80px;
    height: 35px;
    top: 0;
    right: 0;
    padding: 0 15px;
    border: none;
    background: #FB2E86;
    color: #ffffff;
    font-size: 14px;
    border: 1px solid #ffffff;
    border-radius: 0 4px 4px 0;
}

.footer .newsletter .btn:hover {
    background: #9DA0AE;
}

.footer .newsletter input:focus,
.footer .newsletter .btn:focus {
    box-shadow: none;
}


/**********************************/
/******** Footer Menu CSS *********/
/**********************************/
.footer-menu {
    position: relative;
    background: #E7E4F8;
}

.footer-menu .container {
    padding: 15px 0;
    border-top: 1px solid #9DA0AE;
}

.footer-menu .f-menu {
    font-size: 0;
    text-align: center;
}

.footer-menu .f-menu a {
    color: #9DA0AE;
    font-size: 14px;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #9DA0AE;
}

.footer-menu .f-menu a:hover {
    color: #FB2E86;
}

.footer-menu .f-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


/**********************************/
/******** Footer Bottom CSS *******/
/**********************************/
.footer-bottom {
    position: relative;
    padding: 25px 0;
    background: #E7E4F8;
}

.footer-bottom .copyright {
    text-align: left;
}

.footer-bottom .template-by {
    text-align: right;
}

.footer-bottom .copyright p,
.footer-bottom .template-by p {
    color: #9DA0AE;
    font-weight: 400;
    margin: 0;
}

.footer-bottom .copyright p a,
.footer-bottom .template-by p a {
    font-weight: 600;
    color: #FB2E86;
}

.footer-bottom .copyright p a:hover,
.footer-bottom .template-by p a:hover {
    color: #ffffff;
}

@media (max-width: 768.98px) {
    .footer-bottom .copyright,
    .footer-bottom .template-by {
        text-align: center; 
    } 
}