.josef {
  font-family: "Josefin+Sans";
}
.lato {
  font-family: "Lato";
}
#top {
  background-color: rgba(234, 227, 247, 1);
}
.flex {
  display: flex;
}
.form-container {
  background-color: rgba(241, 244, 255, 1);
}
input,
textarea {
  width: 100%;
  margin: 1rem 0;
}
textarea {
  height: 10rem;
}
button {
  background-color: rgba(251, 46, 134, 1); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
a {
  color: black;
  text-decoration: none;
}
#active {
  color: rgba(251, 46, 134, 1);
}
#active:hover a:hover {
  color: white;
}
button:hover {
    background-color: rgba(249, 37, 69, 1);
    color: black;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* img{
    width: 100px;
    height: auto;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgba(21,24,117,1);
}
